$checkbox-v-color: white;
$checkbox-bg-color: #5081bc;
$checkbox-border-color: #000;
$checkbox-border-width: 1px;
$checkbox-decor-width: 20px;
.checkbox {
  width: $checkbox-decor-width;

  margin: 0;
  &__label {
    display: flex;

    width: auto;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    position: relative;
  }
  &__text {
    width: auto;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #000;

    margin-left: 5px;
  }
  &__decor {
    width: $checkbox-decor-width;
    height: $checkbox-decor-width;
    background: $checkbox-bg-color;
    border: $checkbox-border-width solid $checkbox-border-color;
    box-sizing: border-box;

    position: absolute;
    left: 1px;
    &::before {
      content: "";
      display: block;
      width: 2px;
      height: 6px;
      transition: 100ms;
      transition-delay: 100ms;
      background-color: $checkbox-v-color;
      transform-origin: left bottom;
      transform: rotate(-45deg) translate(-1px, 10px);
      opacity: 0;
    }
    &::after {
      content: "";
      display: block;
      width: 2px;
      height: 14px;
      transition: 200ms;
      transition-delay: 0;
      background-color: $checkbox-v-color;
      transform-origin: right bottom;
      transform: rotate(45deg) translate(0px, -7.5px);
      opacity: 0;
    }
  }
  &:checked + &__decor {
    &::before {
      opacity: 1;
      transition: 100ms;
      transition-delay: 0;
    }
    &::after {
      opacity: 1;
      transition: 100ms;
      transition-delay: 100ms;
    }
  }
}
